<header>
  <div class="main-header">
    <%= link_to href="#", title: "Menu Button", class: "main-header__menu-icon" do %>
      <%= icon 'fas', 'bars' %>
    <% end %>
    <nav class="main-nav">
      <ul>
        <% if user_signed_in? %> 
          <li><%= link_to "Log out", log_out_path, method: :delete  %></li>
          <li><%= link_to "Orders", user_orders_path  %></li>
        <% else %>
          <li><%= link_to "Log in", log_in_path %></li>
          <li><%= link_to "Sign up", sign_up_path %></li>
        <% end %>
      </ul>
    </nav>
    <div class="main-header__right-container">
      <% if user_signed_in? %>
        <span><%= current_user.name %></span>
      <% else %>
        <span>Guest</span>
      <% end %>
      <% if current_order %>
        <%= link_to href="/orders/#{current_order.id}", title: "Cart", class: "main-header__cart-icon" do %>
          <%= icon 'fas', "shopping-cart" %>
        <% end %>
      <% else %>
        <%= link_to href="#", title: "Cart", class: "main-header__cart-icon" do %>
          <%= icon 'fas', "shopping-cart" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if admin_user? %>
    <div class="admin-header">
      <nav class="admin-header__nav">
        <ul>
          <li><%= link_to "Food Items", food_items_path, class: "food-items-link" %></li>
          <li><%= link_to "Categories", categories_path, class: "categories-link" %></li>
          <li><%= link_to "Orders", orders_path, class: "orders-link" %></li>
        </ul>
      </nav>
    </div>
  <% end %>
</header>
