<header class="main-header">
    <%= link_to href="#", title: "Menu Button", class: "main-header__menu-icon" do %>
      <%= icon 'fas', 'bars' %>
    <% end %>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <li><%= link_to "Dashboard", "/dashboard" %></li>
      <% end %>
    <% end %>
  <nav class="main-nav">
    <ul>
      <% if user_signed_in? %> 
        <li><%= link_to "Log out", log_out_path, method: :delete  %></li>
      <% else %>
        <li><%= link_to "Log in", log_in_path %></li>
        <li><%= link_to "Sign up", sign_up_path %></li>
      <% end %>
    </ul>
  </nav>
  <div class="main-header__right-container">
  <% if user_signed_in? %>
    <%= current_user.name %>
  <% else %>
    <span>Guest</span>
  <% end %>
  <% if current_order %>
    <%= link_to href="/orders/#{current_order.id}", title: "Cart", class: "main-header__cart-icon" do %>
      <%= icon 'fas', "shopping-cart" %>
    <% end %>
  <% else %>
    <%= link_to href="#", title: "Cart", class: "main-header__cart-icon" do %>
      <%= icon 'fas', "shopping-cart" %>
    <% end %>
  <% end %>

  </div>
</header>
