<div class="form-container">
  <h2 class="forgot-password__heading">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "forgot-password__form" }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>
    
    <div class="actions">
      <%= f.submit "Send me instructions", class: "send-instructions-btn" %>
    </div>
  <% end %>

  <div class="forgot-password__links">
    <%= render "users/shared/links" %>
  </div>
</div>
